.carousel {
  position: relative;
  width: 100%;
  height: 60%;
  overflow: hidden;
}

.carousel-images {
  display: flex;
  align-items: center;
  width: 100%; /* Ajuste este valor de acordo com o número de imagens */
  height: 100%;
  animation: slide 20s infinite; /* Ajuste a duração da animação conforme necessário */
}

.carousel-image {
  flex-shrink: 0;
  width: 50%; /* Ajuste para 50% como você solicitou */
  height: auto;
  object-fit: cover;
  margin: 0 455px; /* Espaço entre as imagens */
}

@keyframes slide {
  0%, 100% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(0);
  }
 
  45% {
    transform: translateX(-97%);
  }
  
  70% {
    transform: translateX(-194%);
  }
  
  95% {
    transform: translateX(-291%);
  }
}
