
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Century Gothic', sans-serif;
}

 html, body{
    width: 100%; /* Alterado para 100% para tornar a página responsiva */
    overflow-x: hidden;
    max-width: 100%;
    height: auto;
 }


body {

    font-family: "Century Gothic", sans-serif;
    /* flex: 1 0 auto; Adicionado ppara esticar o corpo para preencher o espaço disponível */
    padding: 0;
    margin: 0;
    background-color: var(--body-color);
    overflow-x: hidden;
    height: auto;
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
    background-image: url(body_diana.png);
}
.mapas{
    margin-left: 1300px;
    position: absolute;
    margin-top: 5px;
}
.descricao_diana_slide{
    font-size: 5px; /*ajuda a redimencionar o espaçamento do container */
    margin: auto;
    font-family: century gothic;
    
  
}

body.dark .container {
    background: var(--nav-color);
    
}

.container{
    
    background: rgb(68, 68, 68, 0.9);   
}


body.dark .bx-moon{
    color:#FFF;
}
body.dark .bx-sun{
    color:#FFF;
}
body.dark a{
    color: var(--container);
}
body.dark .button_catalogo{
    background: rgb(68, 68, 68, 0.8);
}


body.dark .fa-instagram{
    color: var(--container);
}

body.dark .fa-facebook{
    color: var(--container);
}
body.dark .fa-phone-volume{
    color: var(--container);
}

body.dark .fa-marker{
    color:#FFF;
}

.fa-instagram{
    font-size: 20px;
}

.fa-facebook{
    font-size: 20px;
}

.fa-phone-volume{
    font-size: 20px;
}

.fa-marker{
    font-size: 24px;
    color: #fff;
}
.p2 {
    margin: auto;
    max-width: 1200px;
    color: var(--p-color);
    font-size: 15px;
   
}


.descricao-especializacao {
    border-radius: 20px;
    border: 1px solid #fff;
    font-size: 20px;
    background: var(--nav-color);
    margin: auto;
    max-width: 1100px;
    margin-bottom: 50px;
font-family: 'Century gothic';
    text-align: center;
} 

.indicador-catalogo{
    border-radius: 20px;
    border: 1px solid #fff;
    font-size: 20px;
    background: var(--nav-color);
    position: relative;
    font-weight:1000;
    margin-right: 1100px;
    max-width: 600px;
    font-size: 28px;
    margin-top: 100px;
    color: var(--p-color);
}

.indicador-catalogo-dois{
   position: absolute;
   border-radius: 20px;
   border: 1px solid #fff;
   background: var(--nav-color);
   font-weight:1000;
   margin-left: 1155px;
   max-width: 600px;
   font-size: 28px;
margin-top: 100px;
padding-left: 25px;
padding-right: 25px;
   color: var(--p-color);
  
  
}

p {
    font-weight:100;
    margin: auto;
    max-width: 1850px;
    font-size: 28px;
    color:#f7faf9;


}

.titulo_studio {
    color: var(--p-color);
}

.fa-location-dot {
    color: var(--text-color);
}

body.dark .fa-location-dot{
    color:#FFF;
}
.iconloc {
    color: var(--text-color);
}


nav .nav-bar {
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-bar .sidebarOpen {
    color: var(--text-color);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

.nav-bar .darkLight-searchBox {
    display: flex;
    align-items: center;
}

.darkLight-searchBox .dark-light,
.darkLight-searchBox .searchToggle {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.dark-light i,
.searchToggle i {
    /* QUANDO VC CLICAR NO BOTÃO DE DAR MODE IRÁ MUDAR A POSIÇÃO E O DARK   */
    position: absolute;
    color: var(--text-color);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dark-light i.sun {
    opacity: 0;
    pointer-events: none;
}

.dark-light.active i.sun {
    opacity: 1;
    pointer-events: auto;
}

.dark-light.active i.moon {
    opacity: 0;
    pointer-events: none;
}


    nav {
        background-color: var(--nav-color);
        display: flex;
        align-items: center;
        padding: 4px;
        position: relative;
        top: 0;
        left: 0;
        z-index: 3;
        right: 0;
        height: 65px;
        font-size: 20px;
        
    }

    nav ul {
        list-style: none;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-evenly;
        height: 100%; /* Definindo altura como 100% para que os itens do menu ocupem toda a altura */
    }


    nav ul li {
        display: inline-block; /* Alterado para inline-block para os itens ficarem na mesma linha */
    }
a {
    text-decoration: none;
    color: #FFF;
    font-family: century gothic;
    font-weight: 900;

}

body.dark a {
    text-decoration: none;
    color: #FFF;
    font-family: century gothic;
    font-weight: 900;

}

footer ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: none;
    padding: 4px;
    width: 100%;
    text-justify: 10px;
    color: #ffffff;
}

.fa-instagram {
    margin-left: 10px;
}

.fa-facebook {
    margin-left: 10px;
}

.fa-phone-volume {
    margin-left: 10px;
}

.links-diana li a {
    position: relative;

}

.links-diana li a::before {
    content: '';
	position: absolute;
	left: 0;
	bottom: -1px;
	width: 100%;
	height: 2px;
	background-color: rgb(0, 85, 0);;
	border-radius: 4px;
	scale: 0 1;
	transform-origin: right;
	transition: scale 0.25s;
}

.links-diana li:hover a::before {
    scale: 1;
	transform-origin: left;
}


footer {
    background-color: var(--footer-color);
    color: var(--text-color);
    text-align: center;
    padding: 25px;
    position: absolute;
    left: 0;
    right: 0;
    flex-shrink: 0; /*Impede o encolhimento do footer */
}

footer h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

footer ul li {
    margin: 0 10px;
}

footer ul li a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

footer ul li a:hover {
    color: #fff;
} */




.cadastro {
    text-decoration: none;
    color: #f7faf9;
    text-decoration-color: #ffffff;
    margin-top: 80px;
    font-size: 28px;
}

.button_catalogo{
    font-size: 20px;
    border-radius: 20px;
    background: rgb(68, 68, 68, 1);
    border: 2px solid #fff;
    color: #fff;
    margin-left: 15%;
    padding: 4px;
    margin-right: 15%;
    
    
}
.catalogo {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    height: 100vh;
   
}

.artes {

    font-size: 20px;
    font-family: century gothic;
    text-align: center;
}

.nome {
    font-size: 35px;
    font-family: century gothic;
    text-align: center;

}


.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centraliza as colunas horizontalmente */
    align-items: flex-start;
    width: 100%;
  }
  
  .flex {
    text-align: center;
    box-sizing: border-box;
    margin: 1rem;
    width: calc((100% - 6rem) / 3); /* Distribui igualmente em 3 colunas */
    font-size: 15px;
    margin-top: 75px;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza o conteúdo verticalmente */
    align-items: center; /* Centraliza o conteúdo horizontalmente */
  }
  
.card {
    position: relative;
    width: 350px;
    height: 380px;
    background-color: #000;
    overflow: hidden;
    border-radius: 15px;
    border: 4px solid #544309;
}

.card__image {
    height: 380px;
    width: 350px;
    object-fit: cover;
    scale: 1.30;
    transition: opacity 0.25s, scale 0.35s;
}

.card:hover .card__image {
    opacity: 0.7;
    scale: 1;
}

.card__body {
    position: absolute;
    inset: 0;
    padding: 50px;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    justify-content: center;
}

.card:hover .card__body::before {
    opacity: 1;
    scale: 1;
}

.card__title {
    color: #fff;
    margin-top: 100px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.card__description {
    font-size: 25px;
    opacity: 0;
    translate: -25px;
    margin-bottom: -50px;
    color: #FFF;
    transition: opacity 0.25s, translate 0.25s;
}

.card:hover .card__description {
    opacity: 1;
    translate: 0;
}
.foto_diana_right{
    width: 400px;
    margin-right: 30px;
    border: 4px solid #544309;
    border-radius: 5%;
    float: right;
}

.descricao_diana{
    margin: auto;
    margin-right: 0;
    margin-bottom: 10%;
    max-width: 1400px;
    font-family: century gothic;
    text-align: center;
}
 
.container-discr{
    margin: auto;
    font-family: century gothic;
    max-width: 1000px;
    justify-content: center;
    margin:center;
    margin-top: 5%;
    margin-right: 250px;
    max-width: 800px;
    text-align: justify;
    background: rgb(68, 68, 68, 0.9);


}

.container-discr2{
    margin: auto;
    font-family: century gothic;
    max-width: 1000px;
    justify-content: center;
    margin:center;
    margin-top: 10%;
    margin-right: 250px;
    max-width: 800px;
    text-align: justify;
    background: rgb(68, 68, 68, 0.9);


}


body.dark .container-discr{
    
    background: var(--nav-color);
}

body.dark .container-discr2{
    
    background: var(--nav-color);
}

body.dark .container-discr-left{
    
    background: var(--nav-color);
}


.container-discr-left{
    margin: auto;
    font-family: century gothic;
    max-width: 1000px;
    justify-content: center;
    margin:center;
    margin-top: 12%;
    margin-left: 250px;
    max-width: 800px;
    text-align: justify;
    background: rgb(68, 68, 68, 0.9);
}

.foto_diana_left{
    width: 400px;
    margin-left: 30px;
    border: 4px solid #544309;
    border-radius: 5%;
    float: left;
}

.descricao_diana_left{
    margin: auto;
    margin-right: 0;
    margin-bottom: 10%;
    font-family: century gothic;
    text-align: center;
}

@media (max-width: 1170px) {
    .flex {
      width: 50%;
    
    }
    
    .card {
      width: 450px;
      height: 400px;
      
    }
    
    .card__image {
      width: 100%;
      height: 100%;
    }
  }
